
<p> image: <%= @post.image %></p>
<p>Title: <%= @post.title %></p>
<p> 画像: <%=image_tag (@post.image.url), size: '320x240' if @post.image && @post.image.url%></p>
<% unless @.user_id == currrent_user.id %>